/* written by Avery Follett */
/* last updated May 20, 2020 */

html {
	background-color: black;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	color: white;
	font-size: 50pt;
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 3%;
}

#time {
	display: inline;
	text-shadow: 2px 2px 30px black;
}

#currentTemp {
	float: right;
	text-shadow: 2px 2px 30px black;
}

#humidity {
	font-size: 30pt;
	float: left;
	text-shadow: 2px 2px 30px black;
}

#wind_mph {
	font-size: 30pt;
	float: right;
	text-shadow: 2px 2px 30px black;
}

#forecast {
	font-size: 25pt;
	position: absolute;
	bottom: 50px;
	text-shadow: 2px 2px 30px black;
}

#image_credit {
	font-size: 10pt;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#updated {
	font-size: 10pt;
	position: absolute;
	bottom: 10px;
	left: 10px;
}